## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,78.48,71,96,8.01,overcast clouds
1,1,Madhipura,IN,25.9167,86.7833,85.17,12,65,7.96,broken clouds
2,2,Kungurtug,RU,50.5994,97.5228,19.27,93,22,2.15,few clouds
3,3,Souillac,MU,-20.5167,57.5167,75.58,88,75,11.50,light intensity shower rain
4,4,Chokurdakh,RU,70.6333,147.9167,7.61,96,100,3.69,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  65
What is the maximum temperature you would like for your trip?  90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,78.48,71,96,8.01,overcast clouds
1,1,Madhipura,IN,25.9167,86.7833,85.17,12,65,7.96,broken clouds
3,3,Souillac,MU,-20.5167,57.5167,75.58,88,75,11.50,light intensity shower rain
5,5,Talara,PE,-4.5772,-81.2719,81.36,54,75,18.41,broken clouds
7,7,Ponta Do Sol,PT,32.6667,-17.1000,66.70,74,100,3.20,overcast clouds
9,9,Honiara,SB,-9.4333,159.9500,77.34,88,100,1.52,overcast clouds
11,11,Rikitea,PF,-23.1203,-134.9692,77.70,70,2,16.93,clear sky
12,12,Tuban,ID,-6.8976,112.0649,77.86,86,100,4.29,overcast clouds
14,14,Kapra,IN,17.4846,78.5610,84.90,36,100,8.14,overcast clouds
17,17,Bethel,US,41.3712,-73.4140,69.35,24,12,11.01,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                310
City                   310
Country                309
Lat                    310
Lng                    310
Max Temp               310
Humidity               310
Cloudiness             310
Wind Speed             310
Current Description    310
dtype: int64

In [6]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.0752,-159.3190,78.48,71,96,8.01,overcast clouds
1,1,Madhipura,IN,25.9167,86.7833,85.17,12,65,7.96,broken clouds
3,3,Souillac,MU,-20.5167,57.5167,75.58,88,75,11.50,light intensity shower rain
5,5,Talara,PE,-4.5772,-81.2719,81.36,54,75,18.41,broken clouds
7,7,Ponta Do Sol,PT,32.6667,-17.1000,66.70,74,100,3.20,overcast clouds
9,9,Honiara,SB,-9.4333,159.9500,77.34,88,100,1.52,overcast clouds
11,11,Rikitea,PF,-23.1203,-134.9692,77.70,70,2,16.93,clear sky
12,12,Tuban,ID,-6.8976,112.0649,77.86,86,100,4.29,overcast clouds
14,14,Kapra,IN,17.4846,78.5610,84.90,36,100,8.14,overcast clouds
17,17,Bethel,US,41.3712,-73.4140,69.35,24,12,11.01,few clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,78.48,overcast clouds,22.0752,-159.3190,
1,Madhipura,IN,85.17,broken clouds,25.9167,86.7833,
3,Souillac,MU,75.58,light intensity shower rain,-20.5167,57.5167,
5,Talara,PE,81.36,broken clouds,-4.5772,-81.2719,
7,Ponta Do Sol,PT,66.70,overcast clouds,32.6667,-17.1000,
9,Honiara,SB,77.34,overcast clouds,-9.4333,159.9500,
11,Rikitea,PF,77.70,clear sky,-23.1203,-134.9692,
12,Tuban,ID,77.86,overcast clouds,-6.8976,112.0649,
14,Kapra,IN,84.90,overcast clouds,17.4846,78.5610,
17,Bethel,US,69.35,few clouds,41.3712,-73.4140,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,78.48,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Madhipura,IN,85.17,broken clouds,25.9167,86.7833,SPOT ON 64083 Hotel Ganga
3,Souillac,MU,75.58,light intensity shower rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
5,Talara,PE,81.36,broken clouds,-4.5772,-81.2719,Hostal Oro Negro
7,Ponta Do Sol,PT,66.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
9,Honiara,SB,77.34,overcast clouds,-9.4333,159.9500,Heritage Park Hotel
11,Rikitea,PF,77.70,clear sky,-23.1203,-134.9692,People ThankYou
12,Tuban,ID,77.86,overcast clouds,-6.8976,112.0649,Hotel Mustika
14,Kapra,IN,84.90,overcast clouds,17.4846,78.5610,Hotel Swagath Grand - Dr AS Rao Nagar
17,Bethel,US,69.35,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"] !='')]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,78.48,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Madhipura,IN,85.17,broken clouds,25.9167,86.7833,SPOT ON 64083 Hotel Ganga
3,Souillac,MU,75.58,light intensity shower rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
5,Talara,PE,81.36,broken clouds,-4.5772,-81.2719,Hostal Oro Negro
7,Ponta Do Sol,PT,66.70,overcast clouds,32.6667,-17.1000,Hotel do Campo
...,...,...,...,...,...,...,...
647,Innisfail,AU,71.33,broken clouds,-17.5333,146.0333,Moondarra Motel
649,Samana,DO,86.22,few clouds,19.2056,-69.3369,The Bannister - Hotel & Yacht Club
650,Sur,OM,88.59,clear sky,22.5667,59.5289,Sur Plaza Hotel
651,Santa Maria,BR,65.79,scattered clouds,-29.6842,-53.8069,Hotel Morotin
652,Palasa,IN,81.07,overcast clouds,18.7667,84.4167,Balaji tifen & meals veg & non veg hotel

In [13]:
clean_hotel_df.isnull().sum()

City                   0
Country                0
Max Temp               0
Current Description    0
Lat                    0
Lng                    0
Hotel Name             0
dtype: int64

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))